* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
}

section {
    margin: auto;
    /* border: 1px solid black; */
    width: 80%;
}

header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    color: greenyellow;
    padding: 20px;
    font-weight: 900;
}

nav{
    border-bottom: 4px solid salmon;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

nav > ul > li {
    list-style: none;
    font-weight: 800;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.pod {
    width: 60%;
    border: 2px solid salmon;
    margin-bottom: 20px;
}

.pod > div {
    display: flex;
    border: 2px solid salmon;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



.pod > div > h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* LOGIN */

form{
    width: 60%;
    border: 2px solid salmon;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
    padding: 20px;
    align-items: center;
}

form > input {
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    border-width: medium;
}

.form--button{
    background-color:salmon;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 50%;
    cursor: pointer;
  }

.form--button:not([disabled]):hover{
font-size: 20px;
}

input[type="submit"]:disabled{background-color:red;}


/* CREATE POD */

.createPod{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    align-items: center;
    border: 2px solid salmon;
    padding: 20px;
    height: auto;

}

.createPodProp{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.createPodProp > label {
    font-size: 20px;
    font-weight: 700;
}

.createPodProp > input {
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    border-width: medium;
}
.createPodProp > select {
    height: 40px;
    width: 50%;
    text-align: center;
    font-size: 30px;
    border-width: medium;
    cursor: pointer;
}

.createPodProp > select > option {
    background-color: salmon;
    height: 40px;
    width: 50%;
    text-align: center;
    font-size: 30px;
    border-width: medium;
    cursor: pointer;
}

.createPod--button{
    background-color:salmon;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    height: 40px;
    cursor: pointer;   
}

.createPod--button:hover{
    font-size: 25px;
    }

.usersOfThePodLabels{
    display: flex;
    gap: 7px;
}

.userTag{
    border: solid 1px red;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.userTag:hover{
    background-color: rgb(249, 119, 119);
}

.buttons{
    display: flex;
    width: 80%;
    gap: 5px;
    
}

